.container {
    height: 100%;
}

.nav {
    background-color: #fff;
    box-shadow: 0px -1px 8px #e0e0e0;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #e0e0e0;
}

.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navList>li {
    width: 75px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.navItem {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    color: #616161;
}

.active {
    color: #E53935;
}

.ripple {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: RGBA(229, 57, 53, 0.45);
    position: absolute;
    top: 3px;
    opacity: 1;
    transform: scale(0)
}

.rippleEffect {
    animation: rippleDrop .6s ease-out;
}

@keyframes rippleDrop {
    100% {
        transform: scale(3);
        opacity: 0;
    }
}