:global {
    .container-appear {
        opacity: 0.01;
    }
    .container-appear.container-appear-active {
        opacity: 1;
        transition: opacity 2000ms ease-in;
    }
    .container-leave {
        opacity: 1;
    }
    .container-leave.container-leave-active {
        opacity: 0.01;
        transition: opacity 2000ms ease-in;
    }
}

